<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prediction</title>
</head>
<body>
    <form action="/predict" method="post">
        <label for="S1">Sintoma 1:</label>
        <input type="text" name="S1" required><br>

        <label for="S2">Sintoma 2:</label>
        <input type="text" name="S2" required><br>

        <label for="S3">Sintoma 3:</label>
        <input type="text" name="S3" required><br>

        <label for="S4">Sintoma 4:</label>
        <input type="text" name="S4" required><br>

        <label for="S5">Sintoma 5:</label>
        <input type="text" name="S5" required><br>

        <label for="S6">Sintoma 6:</label>
        <input type="text" name="S6" required><br>

        <label for="S7">Sintoma 7:</label>
        <input type="text" name="S7" required><br>
        
        <label for="S8">Sintoma 8:</label>
        <input type="text" name="S8" required><br>

        <label for="S9">Sintoma 9:</label>
        <input type="text" name="S9" required><br>

        <label for="S10">Sintoma 10:</label>
        <input type="text" name="S10" required><br>

        <label for="S11">Sintoma 11:</label>
        <input type="text" name="S11" required><br>

        <label for="S12">Sintoma 12:</label>
        <input type="text" name="S12" required><br>

        <label for="S13">Sintoma 13:</label>
        <input type="text" name="S13" required><br>

        <label for="S14">Sintoma 14:</label>
        <input type="text" name="S14" required><br>

        <label for="S15">Sintoma 15:</label>
        <input type="text" name="S15" required><br>

        <label for="S16">Sintoma 16:</label>
        <input type="text" name="S16" required><br>
        
        <label for="S17">Sintoma 17:</label>
        <input type="text" name="S17" required><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
